@import '../../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css';
@import '../../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css';
@import '../../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css';
 $white:#ffffff;
 $paper:#fafafa;
 $orga:#F45358;
 $blue:#3FA8B0;
 $showdowcolor:rgba(100, 100, 100, 0.5);
@mixin shadow_1() {
    $shadows: 0px 0px 4px 3px $showdowcolor;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin shadow_2() {
    $shadows: 0px 0px 3px 0px $showdowcolor;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin shadow($amount) {
    $shadows: 0px 0px $amount 0px $showdowcolor;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin border_radius($amount) {
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    border-radius: $amount;
}
@mixin cardview() {
    @include shadow(7px);
    @include border_radius(2px);
    border: 1px soild $white;
    margin: 16px;
}
@mixin circle() {
    @include border_radius(50%);
    overflow: hidden;
}
.angular-google-map, .angular-google-map-container, google-map {
    width: 100%;
    height: 100%;
}
*:hover {
    text-decoration: none !important;
}

.map_warp, .map_list {
    height: 50%;
    position: relative;
}
.map_list {
    @include shadow(20);
    .media {
        .thumb {
            margin: 10px;
            width: 4em;
            height: 4em;
            border: 1px solid white;
            overflow: hidden;
            @include shadow(5px);
            @include border_radius(2em);
            img {
                margin-left: -20%;
                margin-right: -20%;
                min-width: 150%;
                min-height: 150%;
                width: auto;
                height: auto;
            }
        }
        .hud {
            margin-top: 16px;
            margin-right: 16px;
            color: $blue;
        }
        .media-body {
            margin-top: 16px;
        }
    }
}
.selectize-dropdown-content {
    max-height: 140px;
}
.app-content {
    .media {
        margin-top: 0;
    }
    .login_module {
        padding: 16px;
        form {
            input {
                margin-bottom: 18px;
            }
        }
    }
    .wellcome {
        .video {
            width: 100%;
            height: auto;
        }
    }
    background:$white;
    .food {
        background: $orga;
        z-index: 9999;
        height: 64px;
        padding: 6px;
        color: $white;
        position: absolute;
        display: inline-block;
        width: 100%;
        @include shadow_1();
        .cooker_thumbnail {
            margin-top: 6px;
            margin-left: 6px;
            height: 48px;
            width: 48px;
            margin-right: 16px;
            @include circle();
        }
        foodName {
            font-size: 1.4em;
            display: block;
            font-weight: 800;
        }
        buy {
            display: block;
            background-color: $blue;
            padding: 10px;
            margin-top: 6px;
            cursor: pointer;
            font-weight: 800;
            @include shadow_2();
            @include border_radius(2px);
        }
        :hover {}
    }
    .popUpStore {
        margin-top: 80px;
        .item {
            z-index: 998;
        }
        .active {
            z-index: 9999;
        }
        .food_gallary {
            /*            position: absolute;*/
            @include cardview();
            padding: 8px;
            background-color: $paper;
            img {
                width: 100%;
                height: auto;
                @include border_radius(2px);
                /*margin-bottom: 48px;*/
            }
        }
    }
}
.buynow {
    width: 100%;
    background-color: $orga;
    margin-top: 16px;
    font-weight: 700;
    color: $white;
}
.info_card {
    @include shadow(7px);
    @include border_radius(5px);
    margin-bottom: 16px;
    cardname {
        background-color: $blue;
        display: block;
        width: 100%;
        padding-left: 16px;
        line-height: 2.4em;
        color: $white;
        font-weight: 500;
        font-size: 1.4em;
    }
    .amount-box {
        @include border_radius(0px);
        .amount_selection {
            width: 100%;
            padding-right: 18px;
            .amount_hightlight {
                color: $orga;
                font-weight: 800;
            }
        }
    }
}
.overlay-body {
    .cashier {
        .buytop {
            font-weight: 500;
            color: $blue;
        }
        text-align:left;
        height:100%;
    }
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;

    &:hover:before {
        border-color: black;
    }
    &:before {
        content: 'Select some files';
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }
    &:active:before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
}
/* Responsive: Portrait tablets and up */

/*@media screen and (min-width: 768px) {
*/

@media screen and (min-width: 1020px) {
    .container {}
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {}
    /* Space out the masthead */
    .header {}
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {} .map_warp, .map_list {
        height: 100%;
        float: right;
        display: inline-block;
    }
    .map_list {
        width: 40%;
        @include shadow_2();
    }
    .map_warp {
        width: 60%;
    }
}
.labels-icon {
    background-color: rgba($orga, 0.7);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}
