<div content-for="rightMenuAction">
    <div class="btn btn-navbar">
        <a href="#/dining">Find food</a>
    </div>
</div>
<!--End of overiding menu bar-->
</div>
<div class="scrollable">
    <div class="scrollable-content">

        <div ng-repeat="transation in data" class="info_card row" ng-show="transation.hideme && transation.cookerData.photo.url&& transation.foodData.photos[0]">
<!--         {{transation.showme}} -->
            <div class="circular col-sx-3" style="background-image:url('{{transation.customerData.photo.url}}');"></div>
            <div class="circular col-sx-3" style="background-image:url('{{transation.foodData.photos[0]}}');"></div>
            <div class="circular col-sx-3" style="background-image:url('{{transation.cookerData.photo.url}}');"></div>
            <div class="circular col-sx-3">For:{{transation.foodData.price|currency}}</div>
        </div>
    </div>
</div>
<style>
    .circular{
        float: left;
    }
</style>