<div class="scrollable">
    <div class="scrollable-content home">
        <div class="info_card">
            <a class="warpper pull-right" ng-click="showMod()">
                <div class="modifying"></div>
            </a>
            <a class="warpper pull-right" ng-click="showDele()">
                <div class="removing"></div>
            </a>
            <label>Description</label>
            <p>{{thisFood.description}}</p>
            <label>Restaurant Address</label>
            <p>{{thisFood.address}}</p>
            <label>Price</label>
            <p>{{thisFood.price|currency}}</p>
            <label>ReadyTime</label>
            <p>{{thisFood.readyTime.iso|date:'medium'}}</p>
            <label>Serve remain</label>
            <p>{{thisFood.numberOfServe}}</p>
        </div>


        <div class="item image_card  col-lg-6" ng-repeat-start="foto in thisFood.photos" ng-if="$first">
            <img ng-src={{foto}}>
        </div>
        <div class="item image_card  col-lg-6" ng-repeat-end ng-if="!$first">
            <img ng-src={{foto}}>
        </div>
    </div>
</div>
<div content-for='leftMenuAction'>
    <div class="btn btn-navbar">
        <i class="fa"></i><a href="#/foodPortfolio">Back</a>
    </div>
</div>


<div content-for="rightMenuAction">
    <a href='#/cooker' class="warpper pull-right">
        <div class="creating"></div>
    </a>
</div>


<div overlay="deleteOverlay">
  <h4 class="overlay-title">Delete?</h4>
  <p>
  Are you sure you want to delete this
  </p>
  <p toggle="off" bubble target="myOverlay">
    <span class="btn btn-primary" ng-click="deleteMe(thisFood)">Ok</span>
    <span class="btn btn-default" ng-click="cancel()">Cancel</span>
  </p>  
</div>
<div overlay="modOverlay">
  <h4 class="overlay-title">Turn on modify mod</h4>
  <p>
  Are you sure you want to Modify this food
  </p>
  <p toggle="off" bubble target="myOverlay">
    <span class="btn btn-primary" ng-click="cancel()">Ok</span>
    <span class="btn btn-default" ng-click="cancel()">Cancel</span>
  </p>  
</div>