<div class="scrollable wellcome">
    <div class="scrollable-content">
        <div class='login_module'>
            <form class="form-signin" role="form" ng-submit="doSubmit()">
                <h2>Please sign in</h2>
                <label>User name:</label>
                <input type="text" class="form-control" name="userName" ng-model="user.username" required placeholder='username'>

                <label>Password:</label>
                <input type="password" name="password" ng-model='user.password' class="form-control" placeholder="password" required="">
                <button class="btn btn-lg btn-primary col-sx-6" type="submit">Sign in</button>
                <a class="btn btn-lg pull-right" href="#/register">Register</a>
            </form>
        </div>
    </div>
</div>
<div content-for="title">
    <span>Login</span>
</div>
